<%= turbo_frame_tag "messages_form" do %>
  <%= form_for [@room, @message] do |f| %>
    <% @message.errors.full_messages.each do |msg| %>
      <p class="text-red-500"> <%= msg %></p>
    <% end %>
    
    <div class="w-full flex">
      <%= f.text_area :content,
                      class: "block w-[80%]",
                      autofocus: true
      %>
      <%= f.submit "Send",
                   class: "w-[20%] block bg-green-700 hover:bg-green-900 text-white font-bold px-2 py-2 my-3"
      %>
    </div>
  <% end %>
<% end %>