<div
  class="room__modal rounded-3xl shadow-xl"
>
  <%= turbo_stream_from @room %>

  <div class="w-11/12 h-full mx-auto">
    <h1 class="text-center text-lg font-bold uppercase">
      <%= @room.name %>
    </h1>    
    
    <div
      id=<%= "messages" %>
      class="room__messages my-3"
    >
      <%= render partial: "messages/message", collection: @room.messages, locals: { user: current_user } %>
    </div>
    <%= turbo_frame_tag "messages_form", src: new_room_message_path(@room) %>
  </div>
</div>